@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F5F7F8;
  
}

.bg-image{
  background-image: url('../../public/images/bg2.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-image2{
  background-image: url('../../public/images/bg3.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.transition-1{
  transition: 0.5s;
}

.transition-2{
  transition: 0.2s;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
